/**
 * Created by Cyril on 13-12-20.
 */

@font-face
  font-family: 'turquoise'
  src:url('fonts/turquoise.eot')
  src:url('fonts/turquoise.eot?#iefix') format('embedded-opentype'),
    url('fonts/turquoise.ttf') format('truetype'),
    url('fonts/turquoise.woff') format('woff'),
    url('fonts/turquoise.svg#turquoise') format('svg');
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'turquoise';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



body
  margin 0
  padding 0
maincolor = #18B0B6;
.edui-toolbar
  position relative
  box-shadow: 0 4px 0 maincolor - 10%;
.edui-btn-toolbar
  background maincolor
  padding 4px
  padding-right 40px
  border-radius 3px 3px 0 0
  &>.edui-btn
  &>.edui-separator
  &>.edui-splitbutton
    display inline-block
    width 36px
    height 36px
    vertical-align top
    color #fff
    position relative
    &.disabled
      color #dddddd
    &.edui-btn-name-paragraph
    &.edui-btn-name-fontfamily
    &.edui-btn-name-fontsize
      width 96px
      .edui-button-label
        line-height 36px
        text-align center
        width 100%
        display inline-block
    .edui-icon
      display block
      width 100%
      height 100%
      font-family: 'turquoise';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size 16px
      text-align center
      line-height 36px
    .edui-icon-fullscreen:before
      content "\e619"
    .edui-icon-source:before
      content "\e600"
    .edui-icon-undo:before
      content "\e601"
    .edui-icon-redo:before
      content "\e602"
    .edui-icon-bold:before
      content "\e603"
    .edui-icon-italic:before
      content "\e604"
    .edui-icon-underline:before
      content "\e605"
    .edui-icon-strikethrough:before
      content "\e606"
    .edui-icon-superscript:before
      content "\e634"
    .edui-icon-subscript:before
      content "\e637"
    .edui-icon-forecolor:before
      content "\e607"
    .edui-icon-backcolor:before
      content "\e607"
      background #ffffff
      color maincolor
      padding 3px
    .edui-icon-removeformat:before
      content "\e638"
    .edui-icon-insertorderedlist:before
      content "\e60d"
    .edui-icon-insertunorderedlist:before
      content "\e60e"
    .edui-icon-selectall:before
      content "\e612"
    .edui-icon-cleardoc:before
      content "\e609"
    .edui-icon-justifyleft:before
      content "\e613"
    .edui-icon-justifycenter:before
      content "\e614"
    .edui-icon-justifyright:before
      content "\e615"
    .edui-icon-link:before
      content "\e625"
    .edui-icon-unlink:before
      content "\e623"
    .edui-icon-emotion:before
      content "\e626"
    .edui-icon-image:before
      content "\e610"
    .edui-icon-insertvideo:before
      content "\e633"
    .edui-icon-map:before
      content "\e62e"
    .edui-icon-horizontal:before
      content "\e62f"
    .edui-icon-print:before
      content "\e630"
    .edui-icon-preview:before
      content "\e633"
  &>.edui-btn
  &>.edui-splitbutton
    &:hover .edui-icon
      background maincolor - 5%
  &>.edui-btn-fullscreen
    position absolute
    right 4px
  &>.edui-separator
    width 10px
    &:before
      content: " ";
      font-size: 36px;
      color: #FAFAFA;
      opacity: 0.2;
      border-right: 1px solid #FFF;
      display: inline-block;
      width: 5px;
      height: 36px;
      line-height: 36px;
  &>.edui-splitbutton
    width 48px
    &>.edui-btn
      display inline-block
      width 36px
      height 36px
      overflow hidden
      vertical-align top
      color #fff
    &.disabled>.edui-btn
      color #ddd

  .edui-btn.hover .edui-button-label
    background maincolor - 5%

.edui-splitbutton.disabled .edui-icon-backcolor:before {
  background: #ddd;
}
.edui-tooltip
  color: #FFF;
  background: #222;
  position: absolute;
  white-space: nowrap;
  padding: 3px 5px;
  display: none;
  border-radius: 2px;
  margin-top: -72px;
  &:after
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    top: 26px;
    width: 0;
    height: 0;
    margin-left: -7px;
    border-color: #222 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) ;
    border-style: solid;
    border-width: 7px;
.edui-dialog-container
  .dropdown-menu
    display none
    margin 0
    width: auto
    position absolute
    list-style none
    background maincolor - 20%
    padding 5px
    color #fff
    padding-bottom 3px
    margin-top 10px
    li
      display block
      width auto
      padding 3px
      margin: 0
      min-width 90px
      background maincolor - 10%
      margin-bottom 2px
      &:hover
        background maincolor
      .edui-combobox-item-label
        line-height 24px
        font-size 17px!important
    &:before
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 14px;
      top: -14px;
      left: 0;
      background: rgba(0, 0, 0, 0);
    &:after
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      top: -14px;
      width: 0;
      height: 0;
      margin-left: -7px;
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) maincolor - 20%;
      border-style: solid;
      border-width: 7px;
.edui-editor-body
  background #ffffff
  border 2px solid maincolor
  border-radius: 0 0 3px 3px;
  textarea
    background transparent
  &>.edui-body-container
    margin: 0
    outline 0
    padding 9px 9px 5px 5px
    p
      margin: 0 0 20px 0

