/**
 * Created by Cyril on 13-12-20.
 */

@font-face
  font-family: 'turquoise'
  src:url('fonts/turquoise.eot')
  src:url('fonts/turquoise.eot?#iefix') format('embedded-opentype'),
    url('fonts/turquoise.ttf') format('truetype'),
    url('fonts/turquoise.woff') format('woff'),
    url('fonts/turquoise.svg#turquoise') format('svg');
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'turquoise';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



body
  margin 0
  padding 0
maincolor = #18B0B6;

.edui-container
  position relative
.edui-toolbar
  position relative
  box-shadow: 0 4px 0 maincolor - 10%;
.edui-btn-toolbar
  background maincolor
  padding 4px
  padding-right 40px
  border-radius 3px 3px 0 0
  &>.edui-btn
  &>.edui-separator
  &>.edui-splitbutton
    display inline-block
    width 36px
    height 36px
    vertical-align top
    color #fff
    position relative
    &.disabled
      color #dddddd
    &.edui-btn-name-paragraph
    &.edui-btn-name-fontfamily
    &.edui-btn-name-fontsize
      width 96px
      .edui-button-label
        line-height 36px
        text-align center
        width 100%
        display inline-block
    .edui-icon
      display block
      width 100%
      height 100%
      font-family: 'turquoise';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size 16px
      text-align center
      line-height 36px
  &>.edui-btn
    .edui-icon-fullscreen:before
      content "\e619"
    .edui-icon-source:before
      content "\e600"
    .edui-icon-undo:before
      content "\e601"
    .edui-icon-redo:before
      content "\e602"
    .edui-icon-bold:before
      content "\e603"
    .edui-icon-italic:before
      content "\e604"
    .edui-icon-underline:before
      content "\e605"
    .edui-icon-strikethrough:before
      content "\e606"
    .edui-icon-superscript:before
      content "\e634"
    .edui-icon-subscript:before
      content "\e637"
    .edui-icon-removeformat:before
      content "\e638"
    .edui-icon-insertorderedlist:before
      content "\e60d"
    .edui-icon-insertunorderedlist:before
      content "\e60e"
    .edui-icon-selectall:before
      content "\e612"
    .edui-icon-cleardoc:before
      content "\e609"
    .edui-icon-justifyleft:before
      content "\e613"
    .edui-icon-justifycenter:before
      content "\e614"
    .edui-icon-justifyright:before
      content "\e615"
    .edui-icon-link:before
      content "\e625"
    .edui-icon-unlink:before
      content "\e623"
    .edui-icon-emotion:before
      content "\e626"
    .edui-icon-image:before
      content "\e610"
    .edui-icon-insertvideo:before
      content "\e628"
    .edui-icon-map:before
      content "\e62e"
    .edui-icon-horizontal:before
      content "\e62f"
    .edui-icon-print:before
      content "\e630"
    .edui-icon-preview:before
      content "\e633"

  &>.edui-btn
  &>.edui-splitbutton
    &:hover .edui-icon
    &.active .edui-icon
      background maincolor - 5%
  &>.edui-btn-fullscreen
    position absolute
    right 4px
  &>.edui-separator
    width 10px
    &:before
      content: " ";
      font-size: 36px;
      color: #FAFAFA;
      opacity: 0.2;
      border-right: 1px solid #FFF;
      display: inline-block;
      width: 5px;
      height: 36px;
      line-height: 36px;
  &>.edui-splitbutton
    width 36px
    &>.edui-btn
      display none
      width 36px
      height 36px
      overflow hidden
      vertical-align top
      color #fff
    &.disabled>.edui-btn
      color #ddd
  .edui-btn.edui-dropdown-toggle
    display block!important
    width 100%
    height 100%
    font-family: 'turquoise';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size 16px
    text-align center
    line-height 36px
    overflow hidden
    &:before
      width 36px
      height 36px
  &>.edui-splitbutton-forecolor
    .edui-btn.edui-dropdown-toggle:before
      content "\e607"
      display inline-block
    &.hover
      .edui-btn.edui-dropdown-toggle:before
        background maincolor - 5%
  &>.edui-splitbutton-backcolor
    .edui-btn.edui-dropdown-toggle:before
      content "\e607"
      background #ffffff
      color maincolor
      padding 3px
    &.hover
      .edui-btn.edui-dropdown-toggle:before
        background #dddddd

  .edui-btn.hover .edui-button-label
    background maincolor - 5%

.edui-splitbutton.disabled .edui-icon-backcolor:before {
  background: #ddd;
}
.edui-tooltip
  color: #FFF;
  background: #222;
  position: absolute;
  white-space: nowrap;
  padding: 3px 5px;
  display: none;
  border-radius: 2px;
  margin-top: -72px;
  &:after
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    top: 26px;
    width: 0;
    height: 0;
    margin-left: -7px;
    border-color: #222 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) ;
    border-style: solid;
    border-width: 7px;
.edui-dialog-container
  .dropdown-menu,.edui-dropdown-menu
    display none
    margin 0
    width: auto
    position absolute
    list-style none
    background maincolor - 20%
    padding 5px
    color #fff
    padding-bottom 3px
    margin-top 10px
    margin-left: 44px;
    li
      display block
      width auto
      padding 3px
      margin: 0
      min-width 90px
      background maincolor - 10%
      margin-bottom 2px
      &.active
        background maincolor
      &:hover
        background maincolor
      .edui-combobox-item-label
        line-height 24px
        font-size 17px!important
    &:before
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 14px;
      top: -14px;
      left: 0;
      background: rgba(0, 0, 0, 0);
    &:after
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      top: -14px;
      width: 0;
      height: 0;
      margin-left: -7px;
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) maincolor - 20%;
      border-style: solid;
      border-width: 7px;
    .edui-colorpicker
      table
        td a
          width 16px
          height 16px
          display block
  .edui-dropdown-menu
    margin-left 22px
    .edui-emotion-wrapper
      ul
        list-style none
        margin 0
        padding 0
        li
          display inline-block
          min-width 75px
          text-align center
          a
            color #ffffff
            display: block
            width: 100%
            height: 100%
            line-height: 28px
            text-decoration: none
          &.edui-emotion-tabs
            display none
    .edui-tab-pane
      display none
      &.active
        display block
    .edui-emotion-smileytable
      td
        color #ffffff

  .edui-modal
    position absolute
    left 50%
    background maincolor - 10%
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    color #ffffff
    padding 10px
    outline none
    top 0
    input[type="text"],input[type="email"],input[type="password"],input[type="number"]
      border 2px solid #ffffff
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      padding 2px
      outline none
    .edui-modal-header
      padding 10px
      h3
        margin 0
    .edui-modal-body
      .edui-tab-nav
        margin: 0
        padding 0
        list-style none
        .edui-tab-item
          display inline-block
          padding 6px 10px
          background maincolor - 20%
          a
            color #ffffff
            text-decoration none
          &.active
            background maincolor + 5%
      .edui-tab-pane
        display none
        &.active
          display block
    .edui-modal-footer
      padding 10px
      .edui-btn
        display inline-block
        background maincolor
        color #ffffff
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        padding 8px 10px
        float right
        margin-left 10px
        cursor pointer
        &.hover
          background maincolor + 10%
        &.edui-btn-primary
          background #222222
          &.hover
            background #222222 + 20%
    .edui-dialog-map-body
      table
        td
          white-space nowrap
          a.edui-map-button
            display inline-block
            background maincolor
            color #ffffff
            -webkit-border-radius: 2px
            -moz-border-radius: 2px
            border-radius: 2px
            padding 3px 6px
            cursor pointer
            &:hover
              background maincolor - 20%
.edui-editor-body
  background #ffffff
  border 2px solid maincolor
  border-radius: 0 0 3px 3px;
  textarea
    background transparent
  &>.edui-body-container
    margin: 0
    outline 0
    padding 9px 9px 5px 5px
    p
      margin: 0 0 20px 0
.edui-modal-backdrop
  opacity: .5
  filter: unquote('alpha(opacity=50)')
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: #a3a3a3
#eduiVideoFloat .edui-video-float-left:before
#eduiVideoFloat .edui-video-float-none:before
#eduiVideoFloat .edui-video-float-right:before
  display block!important
  width 36px
  font-family: 'turquoise';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size 32px
  text-align center
  line-height 36px
  overflow hidden
#eduiVideoFloat .edui-video-float-left:before
  content "\e613"
#eduiVideoFloat .edui-video-float-none:before
  content "\e61d"
#eduiVideoFloat .edui-video-float-right:before
  content "\e615"
.edui-image-searchBar .edui-image-searchAdd
  background maincolor - 10%
.edui-image-searchBar .edui-image-searchAdd.hover
  background maincolor
#eduiVideoPreview
  background maincolor !important
